.content-header{
	max-width:1000px;
	margin:0 auto;
}
.content-page{
	max-width:1000px;
	margin:0 auto;
}
.column-first{
	float: left;
	padding:30px;
	width: 620px;
	background: #fff;
	color: #010101;
	margin-right: 65px;
	margin-top: -180px;
}
.column-second{
  margin-top: 95px;
  padding:50px;
}